#left_col {
width:300px;
float:left;
padding-top:15px;	
}

#middle_col {	
width:400px;
float:left;	
padding-top:15px;

}

#middle_col p  {
font-size:12px;	
}

#middle_col table tr td {
	font-size:11px;
	
}

#middle_col table tr th {
	font-size:11px;
	
}
#right_col {
padding-top:15px;
width:500px;
float:left;	
	
}

.border {
	
	border-top: 5px solid #CCC;
}